<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/style.css">
 </head>

 <body>
 <font  size="2" face="MS Sans Serif’, Geneva, sans-serif">
     <h1>usefulsite -- Hello, world! -- ¯\(°:°)/¯</h1>
     <table width=80% border=0 cellpadding=40px>
        <tr>
            <td>
                <p><b>time datatime hh:mm</b>></p>
            </td>
            <td align="right">
                <p><strong>about project</strong></p>
                Personal project for apply web and programming knowledge
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="/useful/" class="a">list of useful functions</a></p>
            </td>
            <td align="right">
                <p><strong><br><br>contact<br><br></strong></p>
            </td>
        </tr>
        <tr>
            <td colspan=2 align="center"><br><br>Copyright&copy;<br>2021</td>
        <tr>
     </table>
 </font>
 </body>
</html>
