<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/style.css">
 </head>

 <body link="#555555" vlink="#55555" >
 <font  size="2" face="MS Sans Serif’, Geneva, sans-serif">
  <h1>Magic</h1>
  <p>{{function_description}}</p>
  <p>
      <form action="/useful/Magic" method="post" >{% csrf_token %}
        <table bgcolor="#eeeeee" cellpadding="5">
            <tr>
                <td>put range of number here:&nbsp;<br><br></td>
                <td><input type="text" required name="num_length" size="100"><br><br></td>
            </tr>
            <!--tr>
                <td>replace this: </td>
                <td> <input type="text" required name="symbol_to_change">&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>for this: </td><td><input type="text" required name="symbol_to_place"></td>
            </tr-->
            <tr>
                <td><br></td>
                <td><input type="submit"  class="b1" value="Do Magic!"  bgcolor="#ffffff"></td>
            </tr>
            <tr>
                <td colspan=2><br>{{ magic_result|safe }}<br></td>
            </tr>
        </table>
      </form>
    <br><br><a href="/" class="dot">home</a>
    <br><br><a href="/useful" class="dot">to the functions list</a>
  </p>
  Magic is under construction
  <p>
          <br><br><a href="/" class="dot">home</a>
    <br><br><a href="/useful" class="dot">to the functions list</a>
  </p>
 </font>
 </body>
</html>
